@tailwind base;
@tailwind components;
@tailwind utilities;


a.navbar-item.is-active {
    color: #900028;
}

a.navbar-item:hover {
    color: #5A0414;
}


.read {
    /*color: hsl(204, 86%, 53%);*/
    /*color:  hsl(217, 71%, 53%);*/
    font-weight: 500;
}

.homework {
    /*color:  hsl(141, 53%, 53%) ;*/
    font-weight: 500;
}

.due {
    color: hsl(348, 100%, 61%);
    font-weight: 500;
}

/*.link {*/
/*    color:  hsl(217, 71%, 53%);*/
/*    font-weight: 500;*/
/*}*/


.link {
    color: #900028;
}

.link:hover {
    color: #5A0414;
}

h4 {
    color: #5A0414;
    font-size: 2rem;
    margin: 15px 0;
    font-weight: 500;
}


h5 {
    color: #5A0414;
    font-weight: 500;
}